table {
	border: 1px solid black;
}

th {
	background-color: black;
	color: white;
	text-align: left;
	padding: 1em;
}

td {
	padding: 0.5em;
}

.center {
	margin-left: auto;
	margin-right: auto;
	width: 55%;
}
